<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>Login/DataManager/API/LoginAPIDataManager.swift</string>
						<string>Login/DataManager/Local/LoginLocalDataManager.swift</string>
						<string>Login/Interactor/LoginInteractor.swift</string>
						<string>Login/Presenter/LoginPresenter.swift</string>
						<string>Login/Protocols/LoginProtocols.swift</string>
						<string>Login/View/LoginView.swift</string>
						<string>Login/Wireframe/LoginWireframe.swift</string>
						<string>Login/Login.storyboard</string>
						<string>SidePanel/DataManager/API/SidePanelAPIDataManager.swift</string>
						<string>SidePanel/DataManager/Local/SidePanelLocalDataManager.swift</string>
						<string>SidePanel/Interactor/SidePanelInteractor.swift</string>
						<string>SidePanel/Presenter/SidePanelPresenter.swift</string>
						<string>SidePanel/Protocols/SidePanelProtocols.swift</string>
						<string>SidePanel/View/SidePanelView.swift</string>
						<string>SidePanel/SidePanel.storyboard</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Login/DataManager/API/LoginAPIDataManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/DataManager/API/LoginAPIDataManager.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>DataManager</string>
				<string>API</string>
			</array>
		</dict>
		<key>Login/DataManager/Local/LoginLocalDataManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/DataManager/Local/LoginLocalDataManager.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>DataManager</string>
				<string>Local</string>
			</array>
		</dict>
		<key>Login/Interactor/LoginInteractor.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/Interactor/LoginInteractor.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Interactor</string>
			</array>
		</dict>
		<key>Login/Presenter/LoginPresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/Presenter/LoginPresenter.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Presenter</string>
			</array>
		</dict>
		<key>Login/Protocols/LoginProtocols.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/Protocols/LoginProtocols.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Protocols</string>
			</array>
		</dict>
		<key>Login/View/LoginView.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/View/LoginView.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>View</string>
			</array>
		</dict>
		<key>Login/Wireframe/LoginWireframe.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/Wireframe/LoginWireframe.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Wireframe</string>
			</array>
		</dict>
		<key>Login/Login.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Login/Login.storyboard</string>
			<key>Group</key>
			<array>
				<string>Login</string>
			</array>
		</dict>
		<key>SidePanel/DataManager/API/SidePanelAPIDataManager.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/DataManager/API/SidePanelAPIDataManager.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>DataManager</string>
				<string>API</string>
			</array>
		</dict>
		<key>SidePanel/DataManager/Local/SidePanelLocalDataManager.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/DataManager/Local/SidePanelLocalDataManager.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>DataManager</string>
				<string>Local</string>
			</array>
		</dict>
		<key>SidePanel/Interactor/SidePanelInteractor.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/Interactor/SidePanelInteractor.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>Interactor</string>
			</array>
		</dict>
		<key>SidePanel/Presenter/SidePanelPresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/Presenter/SidePanelPresenter.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>Presenter</string>
			</array>
		</dict>
		<key>SidePanel/Protocols/SidePanelProtocols.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/Protocols/SidePanelProtocols.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>Protocols</string>
			</array>
		</dict>
		<key>SidePanel/View/SidePanelView.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/View/SidePanelView.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>View</string>
			</array>
		</dict>
		<key>SidePanel/SidePanel.storyboard</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/SidePanel.storyboard</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
