<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>Login/DataManager/API/LoginAPIDataManager.swift</string>
						<string>Login/DataManager/Local/LoginLocalDataManager.swift</string>
						<string>Login/Interactor/LoginInteractor.swift</string>
						<string>Login/Presenter/LoginPresenter.swift</string>
						<string>Login/Protocols/LoginProtocols.swift</string>
						<string>Login/View/LoginView.swift</string>
						<string>Login/Wireframe/LoginWireframe.swift</string>
						<string>Login/Login.storyboard</string>
						<string>SidePanel/DataManager/API/SidePanelAPIDataManager.swift</string>
						<string>SidePanel/DataManager/Local/SidePanelLocalDataManager.swift</string>
						<string>SidePanel/Interactor/SidePanelInteractor.swift</string>
						<string>SidePanel/Presenter/SidePanelPresenter.swift</string>
						<string>SidePanel/Protocols/SidePanelProtocols.swift</string>
						<string>SidePanel/View/SidePanelView.swift</string>
						<string>SidePanel/Wireframe/SidePanelWireframe.swift</string>
						<string>SidePanel/SidePanel.storyboard</string>
						<string>AppDelegate.swift</string>
						<string>AppDelegate/AppDependencies.swift</string>
						<string>Resources/View/RootWireframe.swift</string>
						<string>Resources/View/SideMenu/Source/SlideNavigationController.m</string>
						<string>Resources/View/SideMenu/Source/SlideNavigationController.h</string>
						<string>Resources/View/SideMenu/Source/Assets/menu-button.png</string>
						<string>Resources/View/SideMenu/Source/Assets/menu-button@2x.png</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimator.h</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorFade.h</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorFade.m</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScale.h</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScale.m</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScaleAndFade.h</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScaleAndFade.m</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlide.h</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlide.m</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlideAndFade.h</string>
						<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlideAndFade.m</string>
						<string>Resources/Util/Extensions/Foundation/CLLocationCoordinate2D.swift</string>
						<string>Resources/Util/Extensions/Foundation/Double.swift</string>
						<string>Resources/Util/Extensions/Foundation/Notification.swift</string>
						<string>Resources/Util/Extensions/Foundation/Sequence.swift</string>
						<string>Resources/Util/Extensions/Foundation/String.swift</string>
						<string>Resources/Util/Extensions/UIKit/Autolayout/UILayout.swift</string>
						<string>Resources/Util/Extensions/UIKit/Autolayout/UIViewAutolayout.swift</string>
						<string>Resources/Util/Extensions/UIKit/UICollectionView.swift</string>
						<string>Resources/Util/Extensions/UIKit/UICollectionViewCell.swift</string>
						<string>Resources/Util/Extensions/UIKit/UIColor.swift</string>
						<string>Resources/Util/Extensions/UIKit/UIDevice.swift</string>
						<string>Resources/Util/Extensions/UIKit/UILabel.swift</string>
						<string>Resources/Util/Extensions/UIKit/UIStoryboard.swift</string>
						<string>Resources/Util/Extensions/UIKit/UIView.swift</string>
						<string>Resources/Util/Extensions/UIKit/UIVIewController.swift</string>
						<string>Resources/Util/Extensions/UIKit/UIWindow.swift</string>
						<string>UI/Storyboards/Storyboard.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>UI/Storyboards/Storyboard.swift</key>
		<dict>
			<key>Path</key>
			<string>UI/Storyboards/Storyboard.swift</string>
			<key>Group</key>
			<array>
				<string>UI</string>
				<string>Storyboards</string>
			</array>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>AppDelegate</string>
			</array>
		</dict>
		<key>AppDelegate/AppDependencies.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate/AppDependencies.swift</string>
			<key>Group</key>
			<array>
				<string>AppDelegate</string>
			</array>
		</dict>
		<key>Resources/View/RootWireframe.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/RootWireframe.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/SlideNavigationController.h</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/SlideNavigationController.h</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/SlideNavigationController.m</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/SlideNavigationController.m</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Assets/menu-button.png</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Assets/menu-button.png</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Assets</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Assets/menu-button@2x.png</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Assets/menu-button@2x.png</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Assets</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimator.h</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimator.h</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorFade.h</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorFade.h</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorFade.m</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorFade.m</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScale.h</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScale.h</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScale.m</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScale.m</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScaleAndFade.h</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScaleAndFade.h</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScaleAndFade.m</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorScaleAndFade.m</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlide.h</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlide.h</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlide.m</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlide.m</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlideAndFade.h</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlideAndFade.h</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlideAndFade.m</key>
		<dict>
			<key>Path</key>
			<string>Resources/View/SideMenu/Source/Animations/SlideNavigationContorllerAnimatorSlideAndFade.m</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>View</string>
				<string>SideMenu</string>
				<string>Source</string>
				<string>Animations</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/Foundation/CLLocationCoordinate2D.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/Foundation/CLLocationCoordinate2D.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>Foundation</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/Foundation/Double.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/Foundation/Double.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>Foundation</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/Foundation/Notification.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/Foundation/Notification.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>Foundation</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/Foundation/Sequence.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/Foundation/Sequence.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>Foundation</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/Foundation/String.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/Foundation/String.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>Foundation</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/Autolayout/UILayout.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/Autolayout/UILayout.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
				<string>Autolayout</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/Autolayout/UIViewAutolayout.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/Autolayout/UIViewAutolayout.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
				<string>Autolayout</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UICollectionView.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UICollectionView.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UICollectionViewCell.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UICollectionViewCell.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UIColor.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UIColor.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UIDevice.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UIDevice.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UILabel.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UILabel.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UIStoryboard.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UIStoryboard.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UIView.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UIView.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UIVIewController.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UIVIewController.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Resources/Util/Extensions/UIKit/UIWindow.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/Util/Extensions/UIKit/UIWindow.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Util</string>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Login/DataManager/API/LoginAPIDataManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/DataManager/API/LoginAPIDataManager.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>DataManager</string>
				<string>API</string>
			</array>
		</dict>
		<key>Login/DataManager/Local/LoginLocalDataManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/DataManager/Local/LoginLocalDataManager.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>DataManager</string>
				<string>Local</string>
			</array>
		</dict>
		<key>Login/Interactor/LoginInteractor.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/Interactor/LoginInteractor.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Interactor</string>
			</array>
		</dict>
		<key>Login/Presenter/LoginPresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/Presenter/LoginPresenter.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Presenter</string>
			</array>
		</dict>
		<key>Login/Protocols/LoginProtocols.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/Protocols/LoginProtocols.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Protocols</string>
			</array>
		</dict>
		<key>Login/View/LoginView.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/View/LoginView.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>View</string>
			</array>
		</dict>
		<key>Login/Wireframe/LoginWireframe.swift</key>
		<dict>
			<key>Path</key>
			<string>Login/Wireframe/LoginWireframe.swift</string>
			<key>Group</key>
			<array>
				<string>Login</string>
				<string>Wireframe</string>
			</array>
		</dict>
		<key>Login/Login.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Login/Login.storyboard</string>
			<key>Group</key>
			<array>
				<string>Login</string>
			</array>
		</dict>
		<key>SidePanel/DataManager/API/SidePanelAPIDataManager.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/DataManager/API/SidePanelAPIDataManager.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>DataManager</string>
				<string>API</string>
			</array>
		</dict>
		<key>SidePanel/DataManager/Local/SidePanelLocalDataManager.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/DataManager/Local/SidePanelLocalDataManager.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>DataManager</string>
				<string>Local</string>
			</array>
		</dict>
		<key>SidePanel/Interactor/SidePanelInteractor.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/Interactor/SidePanelInteractor.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>Interactor</string>
			</array>
		</dict>
		<key>SidePanel/Presenter/SidePanelPresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/Presenter/SidePanelPresenter.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>Presenter</string>
			</array>
		</dict>
		<key>SidePanel/Protocols/SidePanelProtocols.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/Protocols/SidePanelProtocols.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>Protocols</string>
			</array>
		</dict>
		<key>SidePanel/View/SidePanelView.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/View/SidePanelView.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>View</string>
			</array>
		</dict>
		<key>SidePanel/Wireframe/SidePanelWireframe.swift</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/Wireframe/SidePanelWireframe.swift</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
				<string>Wireframe</string>
			</array>
		</dict>
		<key>SidePanel/SidePanel.storyboard</key>
		<dict>
			<key>Path</key>
			<string>SidePanel/SidePanel.storyboard</string>
			<key>Group</key>
			<array>
				<string>SidePanel</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
